.tooltip-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.tooltip {
    position: absolute;
    max-width: 250px;
    font-size: 14px;
    line-height: 1.5;
}

.tooltip-inner {
    padding: 6px 8px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}