.app-back-top {
    position: fixed;
    right: 100px;
    bottom: 50px;
    .app-back-top-content {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background-color: rgba(0, 0, 0, .65);
        border-radius: 50%;
    }
}